.container {
  max-width: 1440px;
  margin: 0 auto;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #282c34;
  color: white;
}
.App-header .title {
  font-size: calc(1em + 1.2vmin);
}
.App-header a {
  display: inline-block;
  padding: 0 1rem;
  color: inherit;
}
input[type=text], button {
  height: calc(1em + .5vmin);
  font-size: calc(1em + .1vmin);
  padding: 0 .3em;
}
button:enabled {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

/*spinner*/
.lds-dual-ring {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  margin: 0;
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
.lds-dual-ring.colorGreen:after {
  border-style: solid;
  border-color: green transparent green transparent;
}
.lds-dual-ring.sm {
  width: 10px;
  height: 10px;
}
.lds-dual-ring.sm:after {
  width: 10px;
  height: 10px;
  border-width: 2px;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.form {
  margin: 1rem;
  padding: 1rem;
  background-color: #282c3410;
}

.list {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list table th, .list table td {
  padding: .2rem .4rem;
  text-align: left;
}
.list tr.list_item-hover {
  background: #8b00001a;
}
.list table tr td {
  border-top: 1px solid #00000040;
}
.list_item_btn-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 .2rem;
}
.list_item_btn-delete:hover {
  background-color: #ff400c20;
}

.align-center {
  text-align: center !important;
}
.align-right {
  text-align: right !important;
}
.align-left {
  text-align: left !important;
}